/* Use Lato from Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  width: 960px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

header {
  position: fixed;  /* sticky */
  width: 960px;
  top: 0;           /* to the top */
  background: rgba(31,119,164,0.9);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  line-height: 14px;
  padding: 10px 15px 12px;
  text-decoration: none;
  color: #fff;
}

.content {
  margin-top: 36px;
}

/**
 * Micro clearfix hack from Nicolas Gallagher
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
